<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>trivia-vue</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but trivia-vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <style>
  body {
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pd36-1-iss0040e006093.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1000&s=c3e82ac8f396af2e5d66fa432699621f');
    background-repeat: no-repeat;
    background-size: cover;
  }
  </style>
</html>
