<template>
    <div class="bv-example-row">
            <b-card bg-variant="transparent" border-variant="light">
                <h1><span class="badge mb-3 badge-secondary">GAME OVER</span></h1>
                <p > You answered correctly on {{ this.$route.params.correctAnswers }} questions and your total points are: {{ this.$route.params.points }} points. {{ msg }}, {{this.$route.params.username}}! </p>
                <button @click="newGame" class="btn btn-danger">Start New Game</button>
            </b-card>
            <QuizResults v-for="(item, index) of this.$route.params.answers" :key="index" v-bind:answer-item="item"/>
    </div>
</template>

<script>

import QuizResults from '../components/QuizResults';

export default {
    name: 'GameOver',
    created() {
        if(this.$route.params.points == 100) {
                this.msg = "Perfect score"
            } else if(this.$route.params.points >= 50 && this.$route.params.points <= 90) {
                this.msg = "Good job"
            } else if(this.$route.params.points <= 40) {
                this.msg = "Better luck next time"
            }
    },
    data() {
        return {
            msg: ''
        }
    },
    components: {
        QuizResults
    },
    methods: {
        newGame() {
            this.$router.push({ name: 'GameMenu' });
        }
    }
}
</script>

<style scoped>

</style>