<template>
    <div id = "quiz-list" class="bv-example-row">
        <b-card bg-variant="transparent" border-variant="info">
        <p class="lead">Hello, {{this.$route.params.username}}!</p>
        <p>You have answered {{ this.currentQuestion }} of {{ this.quizes.length }} questions.</p>
        </b-card>
        <b-row>
            <b-col sm="6" offset="3">
                <QuizQuestion v-for="(question, index) of quizes" 
                :key="index"
                v-bind:quiz-item="question"
                v-show="index === currentQuestion"
                @clicked="handleAnsweredQuestions"/>
            </b-col>
        </b-row>
    </div>
</template>

<script>

import QuizQuestion from '../components/QuizQuestion';
import axios from 'axios';

export default {
    name: 'GamePlay',
    components: {
        QuizQuestion
    },
    created() {
        axios.get('https://opentdb.com/api.php?amount=10')
            .then(resp => resp.data)
            .then(resp => {
                this.quizes = resp.results || [];
        });
    },
    data() {
        return {
            quizes: [],
            currentQuestion: 0,
            answers: [],
            correctAnswers: 0,
            points: 0
        }
    },
    methods: {
        handleAnsweredQuestions: function(category, question, rightAnswer, userAnswer, score, correct) {
            this.points = parseInt(score) + parseInt(this.points);
            this.correctAnswers = parseInt(correct) + parseInt(this.correctAnswers);

            let userOutput = {
                qCategory: category,
                question: question,
                rAnswer: rightAnswer,
                uAnswer: userAnswer
                
            };
            
            this.answers.push(userOutput);

            if((this.currentQuestion + 1) == (this.quizes.length)) {
                this.$router.replace({ name: 'GameOver', params: {answers: this.answers, points: this.points, correctAnswers: this.correctAnswers,  username:this.$route.params.username }});
            } else {
                this.currentQuestion++;
            }
        }
    }
}
</script>

<style scoped>
</style>