<template>
    <div class="start-box-container container-fluid">
        <b-jumbotron bg-variant="transparent" border-variant="info">
          <h1 class="lead">{{ msg }}</h1>
          <br />
          <b-row class="justify-content-md-center">
            <b-col sm="4">
              <b-form-input v-model="name" 
                            :state="nameState"
                            aria-describedby="input-live-feedback"
                            placeholder="Enter your username here."
                            trim>
              </b-form-input>
              <b-form-invalid-feedback id="input-live-feedback">
                Please enter username!
              </b-form-invalid-feedback>
            </b-col>
            <b-col sm="2">
              <button @click="gameStart" class="btn btn-success">Start Game</button>
            </b-col>
          </b-row>
        </b-jumbotron>
  </div>
</template>

<script>
export default {
  name: 'GameMenu',
  computed: {
    nameState() {
      return this.name.length == '' ? false : true;
    }
  },
  data() {
    return {
      name: '',
      msg: 'Welcome to the Vue Trivia Game!',
    };
  },
  methods: {
    gameStart() {
      if(this.nameState == true) {
        this.$router.replace({ name: 'GamePlay', params: {username: this.name}});
      }
    },
  }
};
</script>

<style scoped>

</style>