<template>
    <div class="result-box-container">
        <b-card bg-variant="dark">
            <span class="badge mb-3 badge-secondary" v-html="answerItem.qCategory"></span>
            <h4 class="lead" v-html="answerItem.question"></h4>
            <br />
            <p class="rightAnswer">Correct Answer: <span v-html="answerItem.rAnswer"></span></p>
            <p :class="setClass()">Your Answer: <span v-html="answerItem.uAnswer"></span></p>
        </b-card>
  </div>
</template>

<script>
export default {
    props: {
        answerItem: {
            required: true,
            type: Object
        }
    },
    methods: {
        setClass() {
        let userClass = '';

        if(this.answerItem.rAnswer === this.answerItem.uAnswer) {
            userClass = "correct";
        } else {
            userClass = "incorrect"
        }
        return userClass;
    }
    }
    
}
</script>

<style scoped>
.result-box-container {
  margin: 10px;
  padding-bottom: .5px;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.rightAnswer {
    background-color: darkcyan;
}
</style>