<template>
    <div class="question-box-container">
        <b-jumbotron bg-variant="dark">
            <h4><span class="badge mb-3 badge-secondary" v-html="quizItem.category"></span></h4>
            <h5 v-html="quizItem.question"></h5>
            <br>
            <b-list-group>
                <b-list-group-item variant="dark" v-for="(answer, index) in answers"
                :key="index" v-html="answer"
                v-bind:value="answer"
                v-on:click="onClicked(index)" />
            </b-list-group>
            <br>
        </b-jumbotron>
  </div>
</template>

<script>
import _ from 'lodash';

export default {
    props: {
        quizItem: {
            required: true,
            type: Object
        },
        next: Function
    },
    computed: {
        answers() {
            let answers = [...this.quizItem.incorrect_answers, this.quizItem.correct_answer];
            return _.shuffle(answers);
        }
    },
    methods: {
        onClicked(index) {
            let points;
            let correct;

            let userAnswer = this.answers[index];
            let questionCategory = this.quizItem.category;
            let question = this.quizItem.question;
            let rightAnswer = this.quizItem.correct_answer;

            if(userAnswer === rightAnswer) {
                points = 10;
                correct = 1;
            } else {
                points = 0;
                correct = 0;
            }
            this.$emit('clicked', questionCategory, question, rightAnswer, userAnswer, points, correct);
        }
    }    
}
</script>

<style scoped>
.question-box-container {
  margin: 10px;
  padding: 10px;
}
.list-group {
  margin-bottom: 5px;
}
 .list-group-item:hover {
   background-color:lightblue;
   cursor: pointer;
 }
</style>