<template>
  <div id="app" class="container mx-auto">
    <router-view> </router-view>
  </div>
</template>

<script>

export default {
  name: 'app',
  components: {
  },
  created() {
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color:azure;
  margin-top: 60px;
}
</style>
